.banner {
    background-image: url(./IMAGENES/Central/imagenCentral.png);
    height: 60vh;
    background-position: right;
    background-size: cover;
}

.banner-content {
    color: white;
    width: 45%;
    height: 500px;
    padding: 25px;
}

.banner-link{
    
}

